Header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 23vh;
    width: 100%;
    background-color: #a477ff;
    justify-content: flex-end;
    
}
.React{
    margin-right: 30px;
    height: 20vh;
   
}
.title{
    margin-right:600px;
    font-size: 55px;
    color: #fff;
}